.three-container {
	position: absolute;
	z-index: 0;
	display: flex;
	justify-content: center;
  align-content: center;
  height: 100vh;
	width: 100vw;
	object-fit: cover;
        background-image:
          radial-gradient(rgba(255,255,255,0.3) 1px, transparent 1px),
          radial-gradient(rgba(255,255,255,0.15) 1px, transparent 1px),
          linear-gradient(to bottom, #a1c6ea 0%, #162d47 80%);
        background-size: 3px 3px, 2px 2px, 100% 100%;
        background-position: 0 0, 50px 50px, 0 0;
}